// campaign-schedule-form.component.scss
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';
@import '../../_campaign-forms.scss';

.schedule-form {
  .end-date-toggle {
    margin: 1rem 0;
  }
}