<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="back-nav">
        <button mat-icon-button routerLink="../campaigns">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>{{ title }}</h1>
      </div>
      <div class="header-actions">
        <button mat-button class="btn-help" (click)="showDescription()">
          <mat-icon>help_outline</mat-icon>
          Help
        </button>
      </div>
    </div>
  </div>
</header>