/* You can add global styles to this file, and also import other style files */
// styles.scss - PROPER MINIMAL CONFIGURATION

@use '@angular/material' as mat;

html {
  //color-scheme: light;
  color-scheme: dark;
  //color-scheme: light dark;
  @include mat.theme((
    color: mat.$rose-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

// Dark theme variables
body.dark-mode {
  color-scheme: dark;
}