@use '@angular/material' as mat;
@use './styles/admin-theme' as admin;

@include admin.register-theme();
@include admin.global-foundation();
@include admin.material-overrides();

html {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}
