@if (user()!.role === 'marketer') {
    <div class="quick-actions">
    <h4 class="section-title">Quick Actions</h4>
    <button mat-stroked-button class="action-btn" (click)="createCampaign.emit(); mobileAction.emit()">
        <mat-icon>add_circle_outline</mat-icon>
        Create Campaign
    </button>
    <button mat-stroked-button class="action-btn" (click)="fundWallet.emit(); mobileAction.emit()">
        <mat-icon>account_balance_wallet</mat-icon>
        Fund Wallet
    </button>
    </div>
}
@if (user()!.role === 'promoter') {
    <div class="quick-actions">
    <h4 class="section-title">Quick Actions</h4>
    <button mat-stroked-button class="action-btn" (click)="viewPromotion.emit(); mobileAction.emit()">
        <mat-icon>campaign</mat-icon>
        View Promotion
    </button>
    <button mat-stroked-button class="action-btn" (click)="viewMyPromotion.emit(); mobileAction.emit()">
        <mat-icon>loyalty</mat-icon>
        My Promotion
    </button>
    </div>
}
<div class="quick-actions">
    @if (user()!.role === 'promoter') {
    <button mat-stroked-button class="action-btn switch-btn big" (click)="switchUser.emit('marketer'); mobileAction.emit()">
        <mat-icon>swap_horiz</mat-icon>
        Switch to Marketer
    </button>
    }
    @if (user()!.role === 'marketer') {
    <button mat-stroked-button class="action-btn big" (click)="switchUser.emit('promoter'); mobileAction.emit()">
        <mat-icon>swap_horiz</mat-icon>
        Switch to Promoter
    </button>
    }
    <button mat-stroked-button class="action-btn" (click)="logout.emit()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
    </button>
</div>