.reject-dialog {
  width: 500px;
  max-width: 90vw;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-form-field {
  margin-bottom: 16px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .reject-dialog {
    width: 90vw;
  }
}