    <mat-card class="cart-dialog-card">
      <div class="cart-header">
        <div class="cart-title">
          <mat-icon class="cart-icon">shopping_bag</mat-icon>
          @if(user()!.role === 'marketer') {
            <h3>Your Campaigns</h3>
          }
          @if(user()!.role === 'promoter') {
            <h3>Your Promotions</h3>
          }
          @if(user()!.role === 'marketing_rep') {
            <h3>Your Activities</h3>
          }
          <button mat-icon-button class="close-btn" (click)="closeDialog.emit()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="cart-summary">
          @if(user()!.role === 'marketer') {
            <span class="items-count">You have {{ pendingCampaignsCount }} pending campaign(s)</span>
            <span class="total-price">{{user()?.wallets?.marketer?.balance || 0 | currencyUtils:user()?.wallets?.marketer?.currency}}</span>
          }
          @if(user()!.role === 'promoter') {
            <span class="items-count">You have {{ pendingPromotionsCount }} pending promotion</span>
            <span class="total-price">{{user()?.wallets?.promoter?.balance || 0 | currencyUtils:user()?.wallets?.promoter?.currency}}</span>
          }
          @if(user()!.role === 'marketing_rep') {
            <span class="items-count">You have {{ pendingPromotionsCount }} pending promotion</span>
            <span class="total-price">{{user()?.wallets?.promoter?.balance || 0 | currencyUtils:user()?.wallets?.promoter?.currency}}</span>
          }
        </div>
      </div>

      <div class="cart-tabs">
        <button
          class="tab-btn"
          [class.active]="activeTab === 'cart'"
          (click)="setActiveTab.emit('cart')">
          <mat-icon>campaign</mat-icon>
          @if(user()!.role === 'marketer') { Campaigns }
          @if(user()!.role === 'promoter') { Promotions }
          @if(user()!.role === 'marketing_rep') { Promotions }
          <span class="badge">
            @if(user()!.role === 'marketer') { {{activeCampaignsCount}} }
            @if(user()!.role === 'promoter') { {{pendingPromotionsCount}}  }
            @if(user()!.role === 'marketing_rep') { {{pendingPromotionsCount}}  }
          </span>
        </button>
        <button
          class="tab-btn"
          [class.active]="activeTab === 'quick-actions'"
          (click)="setActiveTab.emit('quick-actions')">
          <mat-icon>menu</mat-icon>
          Quick Actions
        </button>
      </div>

      <!-- <mat-divider/> -->

      @if (activeTab === 'cart') {
        <div class="cart-content">
          <div class="cart-items-section">
            @if(user()!.role === 'marketer') {
              <app-campaigns-summary-card
                [user]="user"
                (viewAllCampaigns)="viewAllCampaigns.emit()"
                (startCampaign)="closeDialog.emit()"
              />
            }
            @if(user()!.role === 'promoter') {
              <app-promotions-summary-card
                [user]="user"
                (viewAllPromotions)="viewAllPromotions.emit()"
                (viewWithdrawal)="viewWithdrawal.emit()"
                (startPromotion)="closeDialog.emit()"
              />
            }
            @if(user()!.role === 'marketing_rep') {
              <app-promotions-summary-card
                [user]="user"
                (viewAllPromotions)="viewAllPromotions.emit()"
                (viewWithdrawal)="viewWithdrawal.emit()"
                (startPromotion)="closeDialog.emit()"
              />
            }
          </div>
          <div class="checkout-section">
            <mat-divider/>
            <div class="checkout-total">
              <span>Reserved Balance</span>
              <span class="amount">
                @if (user()?.role === 'promoter') {
                  {{user()?.wallets?.promoter?.reserved || 0 | currencyUtils:user()?.wallets?.promoter?.currency}} 
                }
                @if (user()?.role === 'marketer') {
                  {{user()?.wallets?.marketer?.reserved || 0 | currencyUtils:user()?.wallets?.marketer?.currency}} 
                }
              </span>
            </div>
            <div class="secure-checkout">
              <mat-icon>lock</mat-icon>
              <span>Funds secured in escrow</span>
            </div>
          </div>
        </div>
      }

      @if (activeTab === 'quick-actions') {
        <div class="quick-actions-content">
          <div class="quick-actions-grid">
            @if (user()?.role === 'promoter') {
            <button matRipple class="quick-action" (click)="closeDialog.emit(); switchUser.emit('marketer')" [disabled]="user()!.role === 'marketer'">
              <mat-icon>campaign</mat-icon>
              <span>
                Switch to Marketer
                <small>Pay promoters to post your ads on their WhatsApp status</small>
              </span>
            </button>
            }
            @if (user()?.role === 'marketer') {
              <button matRipple class="quick-action" (click)="closeDialog.emit(); switchUser.emit('promoter')" [disabled]="user()!.role === 'promoter'">
                <mat-icon>attach_money</mat-icon>
                <span>
                  Switch to Promoter
                  <small>Earn by posting ads on your WhatsApp status</small>
                </span>
              </button>
            }
            @if (user()?.role === 'marketing_rep' && user()!.isMarketingRep) {
              <button matRipple class="quick-action" (click)="closeDialog.emit(); switchUser.emit('promoter')">
                <mat-icon>attach_money</mat-icon>
                <span>
                  Switch to Promoter
                  <small>Earn by posting ads on your WhatsApp status</small>
                </span>
              </button>

              <button matRipple class="quick-action" (click)="closeDialog.emit(); switchUser.emit('marketer')" [disabled]="user()!.role === 'marketer'">
                <mat-icon>campaign</mat-icon>
                <span>
                  Switch to Marketer
                  <small>Pay promoters to post your ads on their WhatsApp status</small>
                </span>
              </button>
            }
          </div>

          <div class="account-section">
            <mat-divider/>
             @if (user()!.isMarketingRep) {
               <button matRipple class="account-action" (click)="closeDialog.emit(); switchUser.emit('marketing_rep')" [disabled]="user()!.role === 'marketing_rep'">
                <mat-icon>ads_click</mat-icon>
                  Switch to Marketing Rep
              </button>
            } @else {
              <button matRipple class="account-action" routerLink="./settings" (click)="closeDialog.emit()">
                <mat-icon>person</mat-icon>
                <span>Profile & Settings</span>
              </button>
            }
            <!-- <button matRipple class="account-action"  (click)="themeService.toggleTheme()">
              <mat-icon>
                {{ themeService.currentTheme() === 'dark' ? 'light_mode' : 'dark_mode' }}
              </mat-icon>
              <span>Toggle Theme</span>
            </button> -->
          </div>
        </div>
      }
    </mat-card>