// loading-state.component.scss
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 2rem;
}

.loading-content {
  text-align: center;
  
  p {
    margin-top: 1rem;
    // UPDATED: Use text-secondary variable for dynamic theming
    color: $text-secondary;
  }
}