@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/variables';


.product-stepper {
  background: transparent;
  padding: 0;
  margin-bottom: $spacing-6;

  ::ng-deep {
    .mat-step-header {
      padding: $spacing-2;
    }

    .mat-step-label {
      font-weight: $font-weight-medium;
    }
  }
}

.stepper-navigation {
  @include flex-between;
  align-items: center;
  padding: $spacing-6 0;
  margin-top: $spacing-6;
  border-top: 1px solid $divider-color;

  @include mobile {
    flex-direction: column;
    gap: $spacing-4;
  }

  .step-indicator {
    @include flex-column;
    align-items: center;
    gap: $spacing-2;

    span {
      @include caption;
      color: $text-secondary;
      font-weight: $font-weight-medium;
    }

    mat-progress-bar {
      width: 200px;

      @include mobile {
        width: 100%;
      }
    }
  }

  button {
    @include mobile {
      width: 100%;
    }
  }
}